.KsInputField {
    margin: 2%;
    font-size: 1rem;
    text-align: left;

}

.label {
        height: 20%;
        margin-bottom: 2px !important;
        color: #3273dc !important;
}

.input {
    width: 25% !important;
    border-style: solid !important;
    border-color: #3273dc !important;
}

/*Hva er den beste måten å se på marginer og høyde her? Faste piksler eller prosent? */
/*Hvordan fungerer css med tanke på styling som går på marginer når jeg påfører hele div'en de? Virker de fra div'en og ut mot
andre komponenter eller ut mot andre men også inni mellom alle komponentene i div'en? */
/*Sliter med å få gitt farge til teksten i label klassen */
/*Hvorfor sliter jeg sånn med å endre ting i input og i label klassene? */
/*bruker dere important? hvordan overrider dere i så fall styles dere ikke vil ha? */