.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 25% 5% 25%;
    background-color: #3273dc;
    border: solid;
    border-color: grey;

}

.flex-item {
    margin: 5% 20% 5% 20% !important;
}
